{% extends "base.html" %} {% block title %}About{% endblock %} {% block content %}

<br>
<h1 align="center"><u>ProEmPo</u></h1>
<br>

<style>
    /* Define your CSS styles here */
    body {
        font-family: Arial, sans-serif;
        background-color: #f0f0f0;
        margin: 0;
        padding: 0;
    }

    .about-container {
        max-width: 800px;
        margin: auto;
        padding: 20px;
        background-color: #fcfcfc;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    h1 {
        font-size: 28px;
        color: #333;
    }

    p {
        font-size: 16px;
        color: #555;
        line-height: 1.5;
    }
</style>
</head>
<body>
<div class="about-container">
    <h1><u><center>About us</center></u></h1>
    <p>
        Welcome to our website! Our mission is to make your online experience as enjoyable and informative as possible on various mental health and productivity options available here. Are you wondering about what ProEmPo is? Well you came to the right place! ProEmPo is a mental health and productivity website designed to promote mental well-being, raise awareness about mental health issues, and provide resources and support. We also provide productive resources for those in need to stay focused on doing tasks.
    <p>
        Our team is passionate about delivering high-quality content that meets your needs. We are constantly working to improve and expand our efforts to ensure that you have access to the most relevant and interesting information available.
    </p>
    <p>
        Thank you for visiting our website, and we hope you find it helpful and engaging. If you have any questions or feedback, please don't hesitate to <a href="/Support">contact us</a>. We value your input and look forward to hearing from you.
    </p>
</div>
</body>





{% endblock %}