{% extends "base.html" %} {% block title %}Create Flash Cards{% endblock %} {% block content %}

<body> 
    <div class="ui container">
        <form action="/CreateFlashcards" method="POST" class="ui form">
            <div class="field1">
                <label for="lesson">Lesson</label>
                <input type="text" name="lesson">
            </div>
            <div class="field">
                <label for="question">Question</label>
                <input type="text" name="question">
            </div>
            <div class="field"> 
                <label for="answer">Answer</label>
                <textarea name="answer" id="" cols="50" rows="10"></textarea>
            </div>
            <button type="submit" class="ui button">Submit</button>
        </form>
    </div>
</body> 

<style>

    *{
        padding: 0;
        margin-top: 0px;
        box-sizing: border-box;
    }

    body{
        background-color: white;
        font-family: Arial, sans-serif;
        
    }
    .field1{
        margin-top: 10px;
    }
    button{
        padding: 8px;
        outline: black;
        cursor: pointer;
        background-color: blueviolet;
        text-decoration-color: white;
    }

    .flashcards{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start; 
        flex-wrap: wrap;
        margin: auto;
        margin-top: 15px;
        width: 100%;
        padding: 0 10px;
    }

    .flashcard{
        width: 370px;
        height: 200px;
        word-wrap: break-word;
        margin: 15px;
        background-color: white;
    }

    .flashcard h2{
        font-size: 1rem;
    }

    /*hover effect would be cool*/

</style>
{% endblock %}