{% extends "base.html" %} {% block title %}Create Flash Cards{% endblock %} {% block content %}

<h1 id="title" align="center">Create Your Flashcards</h1>

<body> 
    <div class="ui container">
        <form action="/CreateFlashcards" method="POST" class="ui form">

            <div class="field">
                <label for="lesson">Select an existing lesson:</label>
                <select id="lesson" name="lesson">
                    <option value=""> -Select-</option>
                    {% for lesson in all_lessons %}
                    <option value="{{ lesson.id }}">{{ lesson.name }}</option>
                    {% endfor %}
                </select>
            </div>


            <div class="field1">
                <label for="new_lesson_name">Or Create a new Lesson</label>
                <input type="text" id="new_lesson_name" name="new_lesson_name">
            </div>

            <div class="field">
                <label for="question">Question:</label>
                <input type="text" name="question">
            </div>

            <div class="field"> 
                <label for="answer">Answer:</label>
                <textarea name="answer" id="" cols="50" rows="10"></textarea>
            </div>

            <button type="submit" class="ui button">Submit</button>
        </form>
        <br>
        <div>
            <a href="/ViewFlashcards">Go to View page</a>
        </div>
    </div>
</body> 

<style>

    *{
        padding: 0;
        margin-top: 0px;
        box-sizing: border-box;
    }

    h1 {
        background-color: rgba(152, 125, 209, 0.65);
        margin-top: 40px;
        margin-bottom: 0px;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        padding: 10px;
        color: #ffffff;
        box-shadow: 0 0 50px rgba(172, 123, 196, 0.5);
  }
    .field1{
        margin-top: 10px;
    }
    button{
        padding: 8px;
        outline: black;
        cursor: pointer;
        background-color: blueviolet;
        text-decoration-color: white;
    }

    .flashcards{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start; 
        flex-wrap: wrap;
        margin: auto;
        margin-top: 15px;
        width: 100%;
        padding: 0 10px;
    }

    .flashcard{
        width: 370px;
        height: 200px;
        word-wrap: break-word;
        margin: 15px;
        background-color: white;
    }

    .flashcard h2{
        font-size: 1rem;
    }

    

</style>
{% endblock %}