{% extends "base.html" %}

{% block title %}My Goals{% endblock %}

{% block content %}
<div class="container">
    <div class="box">
      <div class="title-box">
        <h1 id="title" align="center">My Goals</h1>
      </div>
  <div class="main">
    
    <ul class="section">
      <li class="item">
        <div class="card" id="card1">
          <div class="card_content">
            <div class="card_text">
                <h2 class="firstLetter">S</h2>
                <p class="categoryName">Specific</p>
                <p class="question">What goal will I accomplish?</p>
                <textarea type="text" id="textbox" name="specific" placeholder="Answer here">{% if previous_goals and previous_goals[-1].status == 'P' %}{{ previous_goals[-1].specific|e }}{% endif %}</textarea>
              </div>
          </div>
        </div>
      </li>
      <li class="item">
        <div class="card" id="card2">
          <div class="card_content">
            <div class="card_text">
                <h2 class="firstLetter">M</h2>
                <p class="categoryName">Measurable</p>
                <p class="question">How do I know when I reach this goal?</p>
                <textarea type="text" id="textbox" name="measurable" placeholder="Answer here">{% if previous_goals and previous_goals[-1].status == 'P' %}{{ previous_goals[-1].measurable }}{% endif %}</textarea>
              </div>
          </div>
        </div>
      </li>
      <li class="item">
        <div class="card" id="card3">
          <div class="card_content">
            <div class="card_text">
                <h2 class="firstLetter">A</h2>
                <p class="categoryName">Achievable</p>
                <p class="question">Is this goal realistic with commitment?</p>
                <textarea type="text" id="textbox" name="achievable" placeholder="Answer here">{% if previous_goals and previous_goals[-1].status == 'P' %}{{ previous_goals[-1].achievable }}{% endif %}</textarea>
              </div>
          </div>
        </div>
      </li>
      <li class="item">
        <div class="card" id="card4">
          <div class="card_content">
            <div class="card_text">
                <h2 class="firstLetter">R</h2>
                <p class="categoryName">Relevant</p>        
                <p class="question">Why is this goal significant to me?</p>
                <textarea type="text" id="textbox" name="relevant" placeholder="Answer here">{% if previous_goals and previous_goals[-1].status == 'P' %}{{ previous_goals[-1].relevant }}{% endif %}</textarea>
              </div>
          </div>
        </div>
      </li>
      <li class="item">
        <div class="card" id="card5">
          <div class="card_content">
            <div class="card_text">
                <h2 class="firstLetter">T</h2>
                <p class="categoryName">Timely</p>
                <p class="question">When will I achieve this goal?</p>
                <textarea type="text" id="textbox" name="timely" placeholder="Answer here">{% if previous_goals and previous_goals[-1].status == 'P' %}{{ previous_goals[-1].timely }}{% endif %}</textarea>
              </div>
          </div>
        </div>
      </li>
    </ul>
    <div class="save-btn" id="save-button-container">
      <button class="save-button" onclick="saveGoalEntry()">Save My Goal</button>
    </div>
    <div class="complete-btn" id="complete-button-container">
      <button class="complete-button" onclick="completedGoal()">I Completed the goal</button>
    </div>

    <div class="explanation">
      <p>When it comes to goal-setting, Proempo adopts the 'smart' goal approach.
        The SMART goal approach is a professional goal-setting framework with five essential components: </p>
      <p class="itemized">&bull; Specific: Goals must be clear and well-defined.</p>
      <p class="itemized">&bull; Measurable: Goals should be quantifiable and trackable.</p>
      <p class="itemized">&bull; Achievable: Goals should be realistic and attainable.</p>
      <p class="itemized">&bull; Relevant: Goals should align with your objectives and values.</p>
      <p class="itemized">&bull; Timely: Goals should have a defined time frame.</p>
      <p>This framework enhances goal-setting precision and effectiveness.
        In this implementation of the smart framework, you will focus on one main goal at the time. 
        When you have completed the goal, come back and create a new one by updating 
        your answers to the questions.</p>
      <p>This page is designed to always have a goal in the background. Once you accomplish one, 
        you set another. When you set a second goal automatically means you accomplished the first. 
      </p>
  </div>
  </div>
  
  
  <style>
    h1 {
      background-color: rgba(152, 125, 209, 0.65);
      margin-top: 40px;
      margin-bottom: 0px;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
      padding: 10px;
      color: #ffffff;
      box-shadow: 0 0 50px rgba(172, 123, 196, 0.5);
    }
  
    .main {
      max-width: 1500px;
      background-color: white;
      padding: 10px;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      box-shadow: 0 0 50px rgba(206, 186, 217, 0.5);
      margin-bottom: 40px;
    }
  
    .section {
      display: grid;
      grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
      margin: 0px;
      padding: 0px;
    }
  
    .item {
      margin-top: 30px;
      display: flex;
      padding: 10px;
      filter:drop-shadow(0 0 5px rgba(206, 186, 217, 0.5));
    }
  
    .card {
      display: flex;
      flex-direction: column;
      overflow: hidden;
      width: 200px;
      padding: 10px;
      justify-content: center;
      align-items: center; 
      height: 600px;
      border-radius: 700px;
      box-shadow:0 0 20px rgba(172, 123, 196, 0.5);
    }

    #card1 {
      background-color: rgba(40, 5, 85, 0.64);
    }

    #card2 {
      background-color: rgba(54, 14, 118, 0.638);
    }

    #card3 {
      background-color: rgba(83, 30, 152, 0.617);
    }

    #card4 {
      background-color:  rgba(107, 45, 182, 0.615);
    }

    #card5 {
      background-color:rgba(136, 67, 220, 0.645);
    }

    h2, p, #textbox{
        color: rgb(242, 235, 249);
        text-align: center;
    }

    .firstLetter {
        font-size: 50pt;
        font-weight: bold;
    }

    .categoryName {
      margin-bottom: 30px;
      margin-top: 40px;
      text-decoration: underline;
    }

    .question {
      margin-bottom: 30px;
    }

    #textbox {
        width:170px;
        color: black;
        border-radius: 5px;
        border: none;
        height: 180px;
    }

  .save-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  
  .save-button {
    background-color: #2495409c;
    padding: 10px 60px;
    color: white;
    border-radius: 10px;
    border: none;
    margin-bottom: 5px;
  }

  .save-button:hover {
      background-color: #ffb700ad;
      color: black;
    }

    .explanation {
      margin: 60px 30px;
      border-radius: 10px;
      box-shadow:0 0 20px rgba(206, 174, 222, 0.5);
      padding: 30px;
      background-color: rgba(187, 170, 223, 0.65);;
    }
    .explanation p {
      color: rgb(68, 62, 62);
      text-align: left; 
    }

    .itemized {
      margin: 0px 100px;
      margin-bottom: 10px;
    }

    .add-another p {
      color: rgb(95, 87, 87);
    }

    .add-another p:hover {
      text-decoration: underline; 
      font-style: italic; 
      cursor: pointer;
      color: black;
}
  </style>


<script>
  function validateTextareas() {
    const specific = document.querySelector('textarea[name="specific"]').value;
    const measurable = document.querySelector('textarea[name="measurable"]').value;
    const achievable = document.querySelector('textarea[name="achievable"]').value;
    const relevant = document.querySelector('textarea[name="relevant"]').value;
    const timely = document.querySelector('textarea[name="timely"]').value;

    if (!specific || !measurable || !achievable || !relevant || !timely) {
      alert('Please answer all the questions');
      return false;
    }

    return true;
  }

  function saveGoalEntry() {
    if (validateTextareas()) {
      const specific = document.querySelector('textarea[name="specific"]').value;
      const measurable = document.querySelector('textarea[name="measurable"]').value;
      const achievable = document.querySelector('textarea[name="achievable"]').value;
      const relevant = document.querySelector('textarea[name="relevant"]').value;
      const timely = document.querySelector('textarea[name="timely"]').value;
      const status = "P";

      const data = {
        specific,
        measurable,
        achievable,
        relevant,
        timely, 
        status
      };

      fetch('/save_goal', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(data),
      })
        .then((response) => response.json())
        .then((data) => {
          alert(data.message);
        })
        .catch((error) => {
          alert(error);
        });
    }
  }
</script>

<script>
  function completedGoal() {
    if (validateTextareas()) {
        var goalId = {{ previous_goals[-1].id }};
        markGoalAsCompleted(goalId);
    } else {
        alert("issue");
    }
  }

  function markGoalAsCompleted(goalId) {
    fetch(`/complete_goal/${goalId}`, {
        method: 'PUT',
        headers: {
            'Content-Type': 'application/json',
        },
    })
    .then((response) => response.json())
    .then((data) => {
        if (data.message === 'Goal marked as completed successfully') {
            alert("goal marked as completed");
        } else {
            alert("Failed to mark goal as completed");
        }
    })
    .catch((error) => {
        alert("An error occurred while marking the goal as completed.");
    });
  }
</script>


  
{% endblock %}
  