{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<style>
    /* Define your CSS styles here */
    body {
        font-family: Arial, sans-serif;
        background-color: #f0f0f0;
        margin: 0;
        padding: 0;
    }

    @font-face {
        font-family: 'MorningDew';
        src: url("{{ url_for('static', filename='Morning Dew Alt.otf') }}") format('opentype');
    }

    .quote-container {
        max-width: 800px;
        margin: auto;
        padding: 20px;
        background-color: #fcfcfc;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .content-container {
        display: flex;
    }

    #clock-box {
        flex: 1; 
        background-color: #fcfcfc;
        border-radius: 15px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin-right: 20px;

    }

    #quote-container {
        flex: 2;
        background-color: #fcfcfc;
        border-radius: 15px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 20px;
    }

    #clockContainer {
        background-color: #f0f0f0;
        position: relative;
        margin: auto;
        height: 20vw;
        width: 20vw;
        background: url("{{ url_for('static', filename='clock.png') }}") no-repeat;
        background-size: 100%;
        
    }

    #hour, #minute, #second {
        position: absolute;
        background: #ffccff;
        border-radius: 10px;
        transform-origin: bottom;
    }

    #hour {
        width: 1.8%;
        height: 25%;
        top: 25%;
        left: 48.85%;
        opacity: 0.8;
    }

    #minute {
        width: 1.6%;
        height: 30%;
        top: 19%;
        left: 48.9%;
        opacity: 0.8;
    }

    #second {
        width: 1%;
        height: 40%;
        top: 9%;
        left: 49.25%;
        opacity: 0.8;
    }

    /* 
    .white-noise-button {
        position: absolute;
        top: 70px;  Adjust the top position as needed 
        left: 10px;  Adjust the left position as needed 
        text-align: left;
    } 
    Add any additional styles you need */
</style>
</head>
<body>
    <br>
    <div class="content-container">
        <div id="clock-box">
            <div id="clockContainer">
                <div id="hour"></div>
                <div id="minute"></div>
                <div id="second"></div>
            </div>
        </div>
        <div id="quote-container">
            <br>
            <h1 align="center"><u>Today is {{ currentDay }}</u></h1>
            <br>
            <h2 align="left"><u>Quote of the Day</u></h2>
            {% if qod %}
                <p style="font-family: 'MorningDew', Arial, sans-serif; font-size:42px;">"{{ qod[0] }}" - {{ qod[1] }}</p>
            {% else %}
                <p>No quote today.</p>
            {% endif %}
            <a
                href="/archivedtasks"
                target="popup"
                onclick="window.open('/player','popup','width=600,height=600'); return false;"
            >
            <div class="white-noise-button">
                <button class="btn btn-outline-info" id="white-noise-toggle">Open Noise Player</button>
            </div></a>

        </div>
    </div>

</body>
<script>
    function updateClock() {
        const d = new Date();
        const hr = d.getHours();
        const min = d.getMinutes();
        const sec = d.getSeconds();
        const msec = d.getMilliseconds();


        const secRotation = 6 * sec + 0.006 * msec; 
        const hourRotation = 30 * hr + min / 2;
        const minuteRotation = 6 * min;
        
        hour.style.transform = `rotate(${hourRotation}deg)`;
        minute.style.transform = `rotate(${minuteRotation}deg)`;
        second.style.transform = `rotate(${secRotation}deg)`;
    }

    setInterval(updateClock, 10);
    updateClock(); 
</script>
{% endblock %}