{% extends "base.html" %} {% block title %}Journal{% endblock %} {% block
    content %}
    <style>
      .list-group-flush .list-group-item {
        margin-top: 10px;
        border-radius: 10px;
      }
      #saveJournalButton {
        margin-left: 10px !important;
      }
      .dataLine {
        margin-left: 5px;
      }
    </style>
    <br>
    <h1 align="center"><u>Journal</u></h1>
    <br>
    <div class="journal-container">
        <div class="journal-content">
          <div class="journal-image">
            <div style="text-align: center;">
            <img src="../static/journalPic.png" alt="Journal Image" class="Journal image"/>
            <h3 align="center"></h3>
            <p>What is on your mind?</p>
            </div>     
      <form method="Journal">
        <br />
        <h3 class="journal-title">Journal Title</h3>
        <input type="text">
        <h3 class="date">Date</h3>
        <input type="date"
        >

        <form method="POST" class="d-flex">
            <div class="flex-grow-1">
              <textarea name="journal" id="journal" class="form-control" autofocus></textarea>
              <!--placeholder="Journal your thoughts"-->
              <button
              type="submit"
              id="addJournalButton"
              class="btn btn-primary align-self-center"
              >
              Save Journal
            </button> 
            </div>
        
            
        

          
    {% endblock %}