{% extends "base.html" %} {% block title %}Accomplishments - ProEmPo{% endblock %} {% block content %}

<div class="container">
     <h2 id="title" align="center">Accomplishments</h2>
</div>

<div class="main" >
    <div class="explanation" style="text-align: center;">
    <img src="../static/Accomplishments.png" alt="image" class="Accomplishments-img"> 
        <p>Welcome to this page, where we encourage you to recognize your greatness!</p>
        <p>Take some time to reflect on the accomplishments and qualities that make you proud of yourself.</p>
        <p>Embracing your journey is a unique and ongoing process, one that's all about you.</p>
    </div>

    <div id="form">
        <form action="/accomplishments" method="POST" class="ui form">

            <label id="proud" for="moment">What are you proud of?</label>
            <textarea id="moment" name="moment" placeholder="List your thoughts that your are proud of here..." required></textarea>

            <button type="submit" class="btn btn-basic" id="save">Save</button>
        </form>
    </div>
</div>

    <div class="postit-container">
        {% for entry in pride_entries %}
        <div class="post-it" id="postit-{{ entry.id }}">
            <div class="header">
                <h3>I am proud of...</h3>
            </div>
            <div class="moment">
                {{ entry.moment }}
            </div>
            <button class="btn btn-basic" id="delete-card" onclick="confirmDeletePride('{{ entry.id }}')"><span aria-hidden="true" class="fa fa-times-rectangle-o"></span></button>    
        </div>
        {% endfor %}
    </div>

<script>

    function confirmDeletePride(prideId) {
        if (confirm("Are you sure you want to delete this post?")) {

            deleteFlashcard(prideId);
        }
    }

    function deletePride(prideId){

        fetch('/DeletePride/' + prideId, {

            method: "POST",

        })

        .then((_res) => {

            window.location.reload();

        });
    }

</script>

<style>
    
    h2 {  
        align-items: center;
        background-color: rgba(152, 125, 209, 0.65);
        margin-top: 40px;
        margin-bottom: 0px;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        padding: 10px;
        color: #ffffff;
        box-shadow: 0 0 50px rgba(172, 123, 196, 0.5);
        
    }
  
    .main {
        align-items: center;
        margin-top: 0px;
        background-color: #fcfcfc;
        padding: 30px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        box-shadow: 0 0 50px rgba(206, 186, 217, 0.5);
      
    }

    .post-it {
 	    width:250px;
        height:240px;
        position:relative;
        background:rgb(237, 149, 255);
        overflow:hidden;
        margin:30px auto;
        padding:20px;
        border-radius:0 0 0 30px/45px;
        box-shadow:
            inset 0 -40px 40px rgba(0,0,0,0.2),
            inset 0 25px 10px rgba(0,0,0,0.2),
            0 5px 6px 5px rgba(0,0,0,0.2);
        line-height:1.7em;
        font-size:19px;
    }

    .postit-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 15px;
        text-align: center;
    }

    .post-it:before {
 	    content:"";
        display:block;
        position:absolute;
        width:20px;
        height:25px;
        background: rgb(237, 149, 255);
        box-shadow:
            3px -2px 10px rgba(0,0,0,0.2),
            inset 15px -15px 15px rgba(0,0,0,0.3);
        left:0;
        bottom:0;
        z-index:2;
        transform:skewX(25deg);
    }

    .explanation p {
        color:rgb(136, 91, 192);
        text-align: center;
        font-size: larger;
        font-weight: bolder;
    }

    #save {
        background-color: #a751bb;
        border: black;
        margin-bottom: 20px;
        color: white;
    }
 
    #save:hover {
        background-color: #ffb700ad;
        color: black;
    }

    .header {
        color: white;
        font-size: small;
    }

    .moment {
        color: white;
    }

    #mydivheader {
        padding: 10px;
        cursor: move;
        z-index: 10;
        background-color: purple;
        color: #fff;
        border-radius: 25px;
    }

    textarea {
        border-radius: 10px;
        width: 100%;
    }

    #proud {
        font-size: large;
        color: rgb(136, 91, 192);
    }

    #delete-card {
        position: absolute;
        bottom: 10px;
        right: 10px;
    }

</style>
{% endblock %}