{% extends "base.html" %}
{% block title %}Reports{% endblock %}
{% block content %}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<div class="container">
    <h1 align="center">Reports</h1>
    <div class="reports-container">
        <div>
            <h5 align="center">Amount of tasks I completed this week</h5>
            <canvas id="taskChart" width="300" height="150"></canvas>
        </div>

        <div class="goals-count-container">
            <h5 align="center">Number of Goals Achieved </h5>
            <div id="goalsCount" class="goals-count">{{ goals_count }}</div>
            <ul>
                {% if latest_completed_goals %}
                    <h5>Latest Completed <a href=/goals>Goals</a></h5>
                    {% for goal in latest_completed_goals %}
                        <li>{{ goal.specific }}</li>
                    {% endfor %}
                {% elif no_goals_message %} 
                    <p>{{ no_goals_message|safe }}</p>
                {% endif %}
            </ul>
        </div>
</div>
</div>

<style>
    h1 {
        background-color: rgba(152, 125, 209, 0.65);
        margin-top: 40px;
        margin-bottom: 0px;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        padding: 10px;
        color: #ffffff;
        box-shadow: 0 0 50px rgba(172, 123, 196, 0.5);
    }

    .reports-container {
        background-color: #fcfcfc;
        padding: 50px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        box-shadow: 0 0 50px rgba(206, 186, 217, 0.5);
    }
    ul {
        text-align: center;
        list-style-position: inside;
        padding: 0px;
    }




    .goals-count-container {
    text-align: center;
    padding: 20px;
    background-color: #b691cfb2;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    margin-top: 50px;
}

/* Style for the animated number */
.goals-count {
    font-size: 36px;
    font-weight: bold;
    color: #242628; /* Customize the color */
    animation: countUp 2s ease-out forwards;
}

@keyframes countUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
</style>



<script>
    // data for the first chart
    var finishedTasks = {{ finished_tasks|safe }};
    var dates = finishedTasks.map(function(item) { return item.date; });
    var count = finishedTasks.map(function(item) { return item.finished_count; });
    var chart = new Chart(document.getElementById('taskChart').getContext('2d'), {
        type: 'bar',
        data: {
            labels: dates,
            datasets: [{
                label: 'Completed Tasks',
                data: count,
                backgroundColor: 'rgba(144, 206, 245, 0.5)',
                borderColor: 'rgba(144, 206, 245, 1)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });

    

</script>
{% endblock %}