{% extends "base.html" %} {% block title %}Settings - ProEmPo{% endblock %} {% block content %}

<h1 align="center">{{title}}</h1>
<div class="settings-container">
    <form action="/settings" method="POST" class="d-flex flex-column">
        <label for="language">{{selectLanguage}}</label>
        <select id="language" name="language">
            <option value="en" {% if user.language == "en" %}selected{% endif %}>English</option>
            <option value="ro" {% if user.language == "ro" %}selected{% endif %}>Română</option>
        </select>
        <input type="submit" value="{{save}}">
    

    </form>
    <hr>
    <label for="Categories">{{Categories}}</label>
    <ul>
        <li>
          <section>
                 
              <li><a href="General">General</a></li>
              <li><a href="Accessibility">Accessibility</a></li>
            
          </section>
        </li>

    </ul>
        <hr>
        <h5>{{changepass}}</h5>
        <form method="POST" action="/change-password">

            <label for="current_password">{{currentpass}}</label><br>
            <input type="password" name="current_password" required>
            <br>
            <label for="new_password">{{newpass}}</label><br>
            <input type="password" name="new_password" required>
            <br>
            <label for="confirm_password">{{confirmnewpass}}</label><br>
            <input type="password" name="confirm_password" required>
            <br>
            <br>
            <button type="submit">{{changepass}}</button>
        </form>
</div>
<style>
    /* Define your CSS styles here */
    body {
        font-family: Arial, sans-serif;
        background-color: #f0f0f0;
        margin: 0;
        padding: 0;
    }

    .settings-container {
        max-width: 800px;
        margin: auto;
        padding: 20px;
        background-color: #fcfcfc;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    h1 {
    background-color: rgba(152, 125, 209, 0.65);
    max-width: 800px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 0px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding: 10px;
    color: #ffffff;
    box-shadow: 0 0 50px rgba(172, 123, 196, 0.5);
    }

    p {
        font-size: 16px;
        color: #555;
        line-height: 1.5;
    }
</style>
<br>






{% endblock %}