{% extends "base.html" %}

{% block title %}Support{% endblock %}

{% block content %}
<h1 align="center">Support</h1>
<section>
<br>
<p>We value your feedback and are always here to listen. If you have any questions, concerns, or feedback, please don't hesitate to get in touch with us.</p>

<p>Contact our support team at: <a href="mailto:proempohelpdesk@gmail.com">proempohelpdesk@gmail.com</a></p> <!--support email added-->
<style>
h1 {
    background-color: rgba(152, 125, 209, 0.65);
    margin-top: 40px;
    margin-bottom: 0px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding: 10px;
    color: #ffffff;
    box-shadow: 0 0 50px rgba(172, 123, 196, 0.5);
  }

section {
    margin-top: 0px;
    background-color: #fcfcfc;
    padding: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 0 50px rgba(206, 186, 217, 0.5);
  }


</style>
<h2>Contact Form</h2>
<form action="/submit_support" method="post">
    <div class="form-group">
        <label for="issue_title">Issue Title</label>
        <input type="text" class="form-control" id="issue_title" name="issue_title" required>
    </div>
    <div class="form-group">
        <label for="gmail">Your Email</label>
        <input type="text" class="form-control" id="email" name="email" required>
    </div>
    <div class="form-group">
        <label for="description">Issue Description</label>
        <textarea class="form-control" id="description" name="description" rows="4" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="button" class="btn btn-secondary" onclick="location.href='/Support'">Cancel</button>
</form>
</section>
{% endblock %}
