{% extends "base.html" %} {% block title %}Support{% endblock %} {% block content %}

<br>
<h1 align="center"><u>Support</u></h1>
<br>

<p>We value your feedback and are always here to listen. If you have any questions, concerns, or feedback, please don't hesitate to get in touch with us.</p>

<p>Contact our support team at: <a href="mailto:support@example.com">support@example.com</a></p>

<h2>Contact Form</h2>
<form action="/submit_support" method="post">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" name="title" required>
    </div>
    <div class="form-group">
        <label for="username">Your Username</label>
        <input type="text" class="form-control" id="username" name="username" required>
    </div>
    <div class="form-group">
        <label for="issue_title">Issue Title</label>
        <input type="text" class="form-control" id="issue_title" name="issue_title" required>
    </div>
    <div class="form-group">
        <label for="description">Issue Description</label>
        <textarea class="form-control" id="description" name="description" rows="4" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="button" class="btn btn-secondary" onclick="location.href='/support'">Cancel</button>
</form>





{% endblock %}