{% extends "base.html" %} {% block title %}View Flashcards{% endblock %} {% block content %}

<div class="container">
    <h2 id="title" align="center">Study Your Flashcards</h2>
</div>

<form action="/ViewFlashcards" method="POST" class="ui-form">
    <div class="ui-selection-dropdown">
        <div class="field">
            <label for="lesson">Select your Lesson:</label>
            <select id="lesson" name="lesson">
                <option id="select" value="all"> --All Cards--</option>
                {% for select_lesson in all_lessons %}
                <option id="cLesson" value="{{ select_lesson.id }}">-{{ select_lesson.name }}-</option>
                {% endfor %}
            </select>
            <button type="submit" class="btn btn-basic" id="filter">Filter</button>
        </div>
    </div>
</form>

<button class="btn btn-basic" id="redirect" onclick="redirectToCreate()">Create More Flashcards</button>

<div class="flashcard-container">
    {% for card in cards %}
    <div class="flashcard" id="flashcard-{{ card.id }}">
        <h3>Lesson: {{ card.lessons.name }}</h3>
        <div class="question">
            <p>Question: {{ card.question }}</p>
        </div>
        <div class="answer" style="display: none;">
            <p>Answer: {{ card.answer }}</p>
        </div>
        <button class="btn btn-info" id="show-answer"onclick="toggleAnswer('flashcard-{{ card.id }}')"><span aria-hidden="true" class="fa fa-eye"></span> Toggle Answer</button> 
        <button class="btn btn-success" id="show-card" onclick="redirectToFlashcard('{{ card.id }}')"><span aria-hidden="true" class="fa fa-pencil"></span> View/Edit </button> 
        <button class="btn btn-danger" id="delete-card" onclick="confirmDeleteFlashcard('{{ card.id }}')"><span aria-hidden="true" class="fa fa-trash"></span> Delete </button>
    </div>
    {% endfor %}
</div>

<script>
    <!-- This is a script for the answer button. It toggles the answer based on the card id -->
    function toggleAnswer(cardId) {
        var answer = document.querySelector('#' + cardId + ' .answer');
        if (answer.style.display === 'none' || answer.style.display === '') {
            answer.style.display = 'block';
        } else {
            answer.style.display = 'none';
        }
    }
</script>

<script>
    function redirectToFlashcard(flashcard_id) {
        window.location.href = '/ViewFlashcards/' + flashcard_id;
    }
</script>

<script>
    function redirectToCreate() {
        window.location.href = '/CreateFlashcards';
    }
</script>

<script>
    function confirmDeleteFlashcard(cardId) {
        if (confirm("Are you sure you want to delete this flashcard?")) {

            deleteFlashcard(cardId);

        }
    }
    function deleteFlashcard(cardId){

        fetch('/DeleteFlashcard/' + cardId, {

            method: "POST",

        })
        .then((_res) => {

            window.location.reload();

        });
    }
</script>

<style>

    h2 {
            
        background-color: rgba(152, 125, 209, 0.65);
        margin-top: 40px;
        margin-bottom: 0px;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        padding: 10px;
        color: #ffffff;
        box-shadow: 0 0 50px rgba(172, 123, 196, 0.5);
    }
    
    
    
    /* Container for the flashcards */
    .flashcard-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 15px;
        text-align: center;
    }

    /* Styles for individual flashcards */
    .flashcard {
        background-color: #fff;
        border: 1px solid #ccc;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        padding: 20px;
        border-radius: 10px;
        width: calc(33.33% - 20px);
    }

    .flashcard h3 {
        font-size: 18px;
        margin: 0;
        padding-bottom: 10px;
        border-bottom: 1px solid #ccc;
    }

    .flashcard p {
        font-size: 16px;
    }

   
    .ui.selection.dropdown {
        margin-top: 20px;
    }

    #filter {
        background-color: #a751bb;
        border: none;
        color: white;
    }

  #filter:hover {
      background-color: #ffb700ad;
      color: black;
    }

    #show-answer {
        margin: 5px;
    }

    #redirect {
        background-color: #a751bb;
        border: black;
        margin-bottom: 20px;
        color: white;
    }

    #redirect:hover {
        background-color: #ffb700ad;
        color: black;
    }

    .ui-form {
        max-width: 1500px;
        background-color: white;
        padding: 10px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        box-shadow: 0 0 50px rgba(206, 186, 217, 0.5);
        margin-bottom: 40px;
    }

    .option {
        text-align: center;
    }

    #cLesson {
        text-align: center;
    }

    select {
        border-radius: 10px;
    }

    #select{
        text-align: center;
    }

</style>
{% endblock %}

